.mainContainer{
	width: 98%;
	font-family: Verdana;
	margin: 1%;
	overflow: hidden;
}

.mainContainer div{
	float: left;
	width: 100%;
	overflow: hidden;
}

.mainContainer div div{
	float: left;
	margin: 0.1%;
	width: 12%;
	overflow: hidden;
	text-align: center;
	padding: 1%;
}

.itemf1{
	background: red;
	font-weight: bold;
	font-size: 15px;
	font-size: 1.5vw;
}

.itemCol1{
	background: blue;
	font-weight: bold;
	font-size: 15px;
	font-size: 1.5vw;
}

.item{
	background: gray;
	color: white;
	font-size: 1.5vw;
}
