.adminContainer{
	overflow: hidden;
	padding-left: 2%;
	padding-right: 1%;
}

.imgTEC{
	width: 95%;
	margin-top: 10%;
	overflow: hidden;
	text-align: center;
}

.tittles{
	text-align: left;
}

.contButtons{
	width: 35%;
	margin-left: 0.6%;
}
.buttonGenerator{
	float: left;
	margin: 1%;
	width: 48%;
	text-align: center;
}
