.filterCoursesContainer{
	margin-bottom: 2%;
}

.service-courses-options
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2%;
    justify-content: left;
}

.service-courses-option
{
    display: flex; 
    flex-basis: calc(33% - 5px);
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.form-control
{
    width: 90% !important;
    margin: 3% auto;
}


.courses
{
    display: flex;
    flex-wrap: wrap;
}

.service-course
{
    flex-grow: 1;
    flex-basis: 25%;
    margin: 5px;
    height: 300px;
    background-color: cornflowerblue;
    text-align: center;
    justify-content: center;
}

.card-schedules
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 auto;
    justify-content: center;
}

.course-schedule
{
    display: flex;
    border: 1px black solid;
    width: 100%;
    height: 32px;
    background-color: crimson;
    padding: 1%;
    align-items: center;
}

.course-schedule p
{
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
}

.course-schedule button
{
    float: right;
}

.cardFooter
{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color:#666;
    color:#fff;
}