
.totalContainer{
	width: 106%;
	overflow: hidden;
	margin-left: -1%;
}

.solutionContainer{
	width: 62%;
	font-family: Verdana;
    margin-bottom: 2%;
    margin-top: 1%;
    overflow: hidden;
    float: left;
    box-shadow: 15px 20px 25px;
}

.InfoContainer
{
	overflow: hidden;
	width: 33%; 
	float: left;
	margin: 1% 0.5% 0% 0.5%;
}

.InfoContainer p{
	font-size: 1em;
	color: black;
	margin: 1%;
	font-weight: bold;
}

.InfoContainer div{
	text-align: center;
	margin: 1%;
	padding-top: 1%;
	font-size: 0.8em;
	border-radius: 10px;
}


.itemSpace{
	float: left;
	width: 100%;
	overflow: hidden;
	background: #2B3A75;
	border: 1px black solid;
}

.solutionContainer div div{
	float: left;
	width: 14.28%;
	overflow: hidden;
	text-align: center;
}

.textBlock{
	font-weight: bold;
	font-size: 0.9em;
	width: 100%;
}

.itemDay{
	background: #2B3A42;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
}

.itemHour{
	background: #2B3A75;
	color: white;
	font-size: 0.65em;
	height: 18px;
	padding-top: 3px;
}

.itemCourse{
	background: white;
	color: black;
	font-size: 0.7em;
	padding: 0.5%;
	height: 18px;
	border-left: 1px black solid;
}