
.message{
	text-align: center;
	font-weight: bold;
	width: 100%;
}


.containerDate{
	text-align: left;
	width: 40%;

}

.dateInput{
	width: 30%;
	padding: 1%;
	border-radius: 5px; 
}
.form-control{
	width: 30%;
	
}




/* --- Table of generate links --- */
.profesorsTable{
	width: 55%;
}
.indicationsTable{
	font-weight: bold;
}
.profesorsTable tr td{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.numberTable{
	width: 7%;
}
.profesorTable{
	width: 30%;
}
.emailTable{
	width: 25%;
}
/* ------------- */